<a href="https://colab.research.google.com/github/seo-minsu/Python-Programming-Study/blob/main/_04_%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C_%ED%8A%9C%ED%94%8C%2C_%EC%84%B8%ED%8A%B8%2C_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트, 튜플, 세트, 딕셔너리



---

## 리스트(List)
  * 변경 가능한 시퀀스 자료형
  * 하나의 변수에 여러 값 할당 가능
  * 같은 자료형이 아니라 다른 자료형을 가지는 값들을 포함 가능
  * 일반적으로 비슷한 항목들의 모음을 순서대로 저장하는데 사용

In [ ]:
print([])
print([1,2,3])
print(['one','two','three'])
print([1,'one',2,'two',3,'three'])
print([1,2,3,['one','two','three']])

[]
[1, 2, 3]
['one', 'two', 'three']
[1, 'one', 2, 'two', 3, 'three']
[1, 2, 3, ['one', 'two', 'three']]

### 리스트 인덱싱(List Indexing)

* 리스트의 각 위치에 해당하는 값에 접근하기 위해서 주소 개념의 숫자를 사용

In [ ]:
list = ['one','two','three']
print(list)
print(list[0])
print(list[1])
print(list[2])
print(list[-1])
print(list[-2])
print(list[-3])

['one', 'two', 'three']
one
two
three
three
two
one

### 중첩 리스트 인덱싱(Nested List Indexing)

* 리스트 안에 리스트가 있을 경우 인덱스 접근 방법

In [ ]:
list=[1,2,3,['one','two','three']]
print(list)
print(list[3])
print(list[3][0])
print(list[3][1])
print(list[3][2])
print(list[3][-1])
print(list[3][-2])
print(list[3][-3])

[1, 2, 3, ['one', 'two', 'three']]
['one', 'two', 'three']
one
two
three
three
two
one

### 리스트 슬라이싱(List Slicing)

* 리스트의 인덱스를 통해서 부분만 가져올 때 사용

In [ ]:
list=['one','two','three']
print(list)
print(list[0:1])
print(list[1:2])
print(list[1:])

['one', 'two', 'three']
['one']
['two']
['two', 'three']

### 중첩 리스트 슬라이싱(Nested List Slicing)

* 중첩된 리스트에서 일부분만 인덱스를 통해서 가져올 때 사용

In [ ]:
list=[1,2,3,['one','two','three']]
print(list)
print(list[2:4])
print(list[3][2:])
print(list[3][:2])

[1, 2, 3, ['one', 'two', 'three']]
[3, ['one', 'two', 'three']]
['three']
['one', 'two']

### 리스트 연산자/함수(List Operators/Function)

* 더하기 + 연산자
* 곱하기 * 연산자
* 리스트 길이를 구하는 `len()` 함수

In [ ]:
list_1=['one','two','three']
list_2=['four','five','six']
print(list_1+list_2)
print(list_1*3)
print(len(list_1*3))

['one', 'two', 'three', 'four', 'five', 'six']
['one', 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three']
9

### 리스트 수정(List Modify)

* 리스트 인덱스 주소를 이용한 값 수정

In [ ]:
list=['one','two','three']
print(list)
list[2]=3
print(list)
list[1]=2
print(list)
list[0]=1
print(list)

['one', 'two', 'three']
['one', 'two', 3]
['one', 2, 3]
[1, 2, 3]

### 리스트 메소드(List Methods)

#### append()

* 리스트 요소 추가

In [ ]:
list=['one','two','three']
list.append('four')
print(list)
list.append([1,2,3,4])
print(list)

['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four', [1, 2, 3, 4]]

#### sort()

* 리스트 정렬

In [ ]:
list=[2,4,6,3]
print(list)
list.sort()
print(list)
list=['orange', 'apple', 'banana', 'strawberry']
list.sort()
print(list)

[2, 4, 6, 3]
[2, 3, 4, 6]
['apple', 'banana', 'orange', 'strawberry']

#### reverse()

* 리스트 요소 반전

In [ ]:
list=['orange', 'apple', 'banana', 'strawberry']
print(list)
list.reverse()
print(list)

['orange', 'apple', 'banana', 'strawberry']
['strawberry', 'banana', 'apple', 'orange']

#### index()

* 리스트의 요소 값에 대한 인덱스를 반환

In [ ]:
list=[10,20,50,40]
print(list)
print(list.index(10))
print(list.index(40))

[10, 20, 50, 40]
0
3

#### insert()

* 리스트 요소 삽입

In [ ]:
list=[10,20,50,40]
print(list)
list.insert(4,70)
print(list)

[10, 20, 50, 40]
[10, 20, 50, 40, 70]

#### remove()

* 리스트 요소 제거

In [ ]:
list=[10,20,50,40]
print(list)
list.remove(40)
print(list)
list.remove(10,20)
print(list)
## 한개씩만 삭제해야하는건지?

[10, 20, 50, 40]
[10, 20, 50]

TypeError: list.remove() takes exactly one argument (2 given)

#### del

* 리스트 요소 제거 연산

In [ ]:
list=[10,20,50,40]
print(list)
del list[0]
print(list)
del list([1],[2])
print(list)
## 이것도 두개는 안되는건지?

SyntaxError: cannot delete function call (<ipython-input-72-f7fc8e35529b>, line 5)

#### pop()

* 리스트 요소를 방출

In [ ]:
list=[10,20,40,30]
print(list)
list.pop()
print(list)
list.pop(2)
print(list)

[10, 20, 40, 30]
[10, 20, 40]
[10, 20]

#### count()

* 리스트 요소의 갯수 계산

In [ ]:
list=[10,20,20, 40,30, 30]
print(list)
print(list.count(30))

[10, 20, 20, 40, 30, 30]
2

#### extend()

* 리스트 확장

In [ ]:
list=[10,20,40,30]
print(list)
list.extend([50,60])
print(list)

[10, 20, 40, 30]
[10, 20, 40, 30, 50, 60]



---

## 튜플(Tuple)

* 리스트와 유사하지만 변경 불가능한 시퀀스 자료형
* 하나의 변수에 여러 값 할당 가능
* ‘(‘와 ‘)’를 사용하여 표현

In [ ]:
print(())
print((1,2,3))
print(('one','two','three'))
print((1,2,3,('one','two','three')))

()
(1, 2, 3)
('one', 'two', 'three')
(1, 2, 3, ('one', 'two', 'three'))

### 튜플 인덱싱(Tuple Indexing)

* 튜플의 각 위치에 해당하는 값에 접근하기 위해서 주소 개념의 숫자를 사용

In [ ]:
tuple=('one','two','three')
print(tuple)
print(tuple[0])
print(tuple[-1])

('one', 'two', 'three')
one
three

### 중첩 튜플 인덱싱(Nested Tuple Indexing)

* 튜플 안에 튜플이 중첩되어 있을 경우, 인덱스 접근 방법

In [ ]:
tuple=(1,2,3,('one','two','three'))
print(tuple)
print(tuple[3])
print(tuple[3][1])

(1, 2, 3, ('one', 'two', 'three'))
('one', 'two', 'three')
two

### 튜플 슬라이싱(Tuple Slicing)

* 튜플의 인덱스를 통해서 부분만 가져올 때 사용

In [ ]:
tuple=(1,2,3,4)
print(tuple)
print(tuple[0:1])
print(tuple[2:])

(1, 2, 3, 4)
(1,)
(3, 4)

### 중첩 튜플 슬라이싱(Nested Tuple Slicing)

* 중첩된 튜플에서 일부분만 인덱스를 통해서 가져올 때 사용

In [ ]:
tuple=(1,2,3,('one','two','three'))
print(tuple)
print(tuple[3])
print(tuple[3][2:])
print(tuple[3][:2])

(1, 2, 3, ('one', 'two', 'three'))
('one', 'two', 'three')
('three',)
('one', 'two')

### 튜플 연산자/함수(Tuple Operators/Function)

* 더하기 + 연산
* 곱하기 * 연산
* 튜플 길이를 구하는 `len()` 함수

In [ ]:
tuple_1=(1,2,3)
tuple_2=(4,5,6)
print(tuple_1+tuple_2)
print(tuple_1*4)
print((tuple_1*3)+(tuple_2*2))
print(len(tuple_1+tuple_2))

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6, 4, 5, 6)
6



---

## 세트(Set)

* 데이터 중복을 허용하지 않는 구조
* 순서가 없는 데이터 집합을 위한 구조
* 인덱싱으로 값을 접근할 수 없음

In [ ]:
print({})
print({'one','two','three'}) ##순서가 의미가 없음

{}
{'two', 'three', 'one'}

### 세트 연산자(Set Operators)

* 교집합: &
* 합집합: |
* 차집합: -
* 여집합: ^

In [ ]:
set_1={10,20,20,30}
set_2={30,30,40,50}
print(set_1,set_2)
print(set_1 & set_2)
print(set_1 | set_2)
print(set_1 - set_2)
print(set_1 ^ set_2)

{10, 20, 30} {40, 50, 30}
{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

### 세트 메소드(Set Methods)

* 교집합: intersection()
* 합집합: union()
* 차집합: difference()
* 여집합: symmetric_difference()

In [ ]:
set_1={10,20,20,30}
set_2={30,30,40,50}
print(set_1,set_2)
print(set_1.intersection(set_2))
print(set_1.union(set_2))
print(set_1.difference(set_2))
print(set_1.symmetric_difference(set_2))

{10, 20, 30} {40, 50, 30}
{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

* 요소 추가: add()
* 여러 요소 추가: update()
* 요소 제거: remove()
* 요소 제거: discard()
* 모든 요소 제거: clear()

In [ ]:
set={10,20,30,40}
print(set)
set.add(50)
print(set)
set.update([60,70])
print(set)
set.remove(60) ##update는 대괄호, remove할때는 그냥 소괄호?
print(set)
set.discard(30)
print(set)
set.clear()
print(set)

{40, 10, 20, 30}
{40, 10, 50, 20, 30}
{70, 40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 20, 30}
{70, 40, 10, 50, 20}
set()



---

## 딕셔너리(Dictionary)

* 키(key)와 값(value)의 쌍으로 구성된 데이터
* 순서가 없는 데이터
* 키를 통해 값을 얻음
* 동일한 키가 있을경우 덮어씀

### 딕셔너리 요소 추가/삭제

* 딕셔너리의 해당 키 값에 값을 추가하여 요소 추가
* del을 이용하여 요소 제거

### 딕셔너리 메소드(Dictionary Methods)