<a href="https://colab.research.google.com/github/seo-minsu/Python-Programming-Study_Minsu/blob/main/_05_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#제어문: if, else, elif
![image.png]()
#반복문: while, for

# 1. 제어문(Control Statement)



---

## 조건문(Conditional Statement)
### if, else, elif

### if 문
   * if문은 True와 False를 판단하는 조건문
   --> 조건이 true일때만 문장 실행
   * if 조건 뒤에는 콜론(:) 필수

* if 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 35 초과는 미세먼지 농도 나쁨

In [ ]:
pm=40
if pm>35:
  print("미세먼지 농도: 나쁨")

pm=30
if pm>35:
  print("미세먼지 농도: 나쁨"). ## False라서 출력안됨

미세먼지 농도: 나쁨

### if-else 문
  * 조건이 true일때는 if문으로 출력, false일때는 else문으로 출력
  * if <조건> : <br>
      <문장 1> <br>
    else : <br>
      <문장2>

* if-else 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 36 이상은 미세먼지 농도 나쁨
  + 35 이하는 미세먼지 농도 좋음

In [ ]:
pm=40
if pm>=36:
  print("미세먼지 농도: 나쁨")
else:                         ##true 아니면 false니까 따로 조건 안달아도됨
  print("미세먼지 농도: 좋음")

pm=30
if pm>=36:
  print("미세먼지 농도: 나쁨")
else:
  print("미세먼지 농도: 좋음")

미세먼지 농도: 나쁨
미세먼지 농도: 좋음

### if-elif-else 문
   * true가 아니었을 때의 조건을 여러 개 만들 수 있는 조건문
   * if <조건> : <br>
       <문장1> <br>
     elif <조건> : <br>
       <문장2> <br>
     else: <br>
       <문장3>

* if-elif-else 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 미세먼지 농도 0~15: 좋음
  + 미세먼지 농도 16~35: 보통
  + 미세먼지 농도 36~75: 나쁨
  + 미세먼지 농도 76~: 매우나쁨

In [ ]:
pm = 40
if pm<16 :
  print("미세먼지 농도 : 좋음")
elif pm < 36 :
  print("미세먼지 농도 : 보통")
elif pm <76 :
  print("미세먼지 농도 : 나쁨")
else:
  print("미세먼지 농도 : 매우 나쁨")

미세먼지 농도 : 나쁨

### 중첩 if 문

  * if 문 안에 if문이 포함된 형태
  * if -> if2, if3 --> 각각 true, false

* 중첩 if 문을 이용한 미세먼지 측정
  + 미세먼지 농도 pm
  + 미세먼지 농도 0~15: 좋음
  + 미세먼지 농도 16~35: 보통
  + 미세먼지 농도 36~75: 나쁨
  + 미세먼지 농도 76~: 매우나쁨

In [ ]:
pm=80
if pm<36:
 if pm<16:
  print("미세먼지 농도 : 좋음")
 else:
  print("미세먼지 농도 : 보통")
else:
  if pm<76:
   print("미세먼지 농도 : 나쁨")
  else:
    print("미세먼지 농도 : 매우나쁨")

pm=50
if pm<36:
 if pm<16:
  print("미세먼지 농도 : 좋음")
 else:
  print("미세먼지 농도 : 보통")
else:
  if pm<76:
   print("미세먼지 농도 : 나쁨")
  else:
    print("미세먼지 농도 : 매우나쁨")

미세먼지 농도 : 매우나쁨
미세먼지 농도 : 나쁨

### if-pass 문

* 조건문은 있지만 실행할 문장이 없는 경우, 오류가 발생하지 않도록 무시하고 넘어가는 기능

In [ ]:
if 10>5:
  print(10)
else:
  pass

10

### if 조건 연산자

* 비교연산자: <, >, ==, !=, >=, <=

In [ ]:
if 2>1:
  print(2)

if 3 ==3:
  print(3)

if 1!=2:
  print(1)

2
3
1

* 논리연산자: and, or, not

In [2]:
rain = True
snow = True
sun = False

if rain and snow:
  print("진눈깨비")

if not sun:
  print("흐림")
else:
  print("맑음")

진눈깨비
흐림

* 멤버연산자: in, not in

In [3]:
list=['one','two','three']
if 'one' in list:
  print('one')

if 'four' in list:
  print('four')
else:
  print('no')

one
no

* 식별연산자: is, is not

In [ ]:
if 'one' is 'one':
  print('one')

if 'one' is not 'two':
  print('one is not two')

one
one is not two

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-29-c75055d669ad>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if 'one' is 'one':
<ipython-input-29-c75055d669ad>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if 'one' is not 'two':

### 조건부 표현식(Conditional Expression)

* 한 라인으로 조건식을 사용한 표현(조건이 간단할 때)

In [7]:
##ex1)
score=75
msg="통과" if score>=70 else "탈락"
print(msg)

통과

In [13]:
##ex2) ##위키독스 참고한 예제인데, 이 경우 왜 실행이 안되는지 궁금함.
score=50
message="success" if score>=60 else "failure"

SyntaxError: invalid syntax (<ipython-input-13-e331497fc5eb>, line 3)

In [16]:
##ex3) ##위키독스 참고한 예제인데, 이 경우 왜 실행이 안되는지 궁금함.
score=50
if score>=60:
  message="success"
else:
  message="failure"

### [Lab] 학생 종류

* 8세 미만 "학생 아님"
* 14세 미만 "초등학생"
* 17세 미만 "중학생"
* 20세 미만 "고등학생"
* 26세 미만 "대학생"
* 그 외에 "학생 아님"

In [ ]:
age=28
if age<8 :
  print("학생 아님")
elif age<14:
  print("초등학생")
elif age<17:
  print("중학생")
elif age<20:
  print("고등학생")
elif age<26:
  print("대학생")
else:
  print("학생아님")

학생아님

### [Lab] 학점 계산

* 95점 이상 "A+"
* 90점 이상 "A"
* 85점 이상 "B+"
* 80점 이상 "B"
* 75점 이상 "C+"
* 70점 이상 "C"
* 65점 이상 "D+"
* 60점 이상 "D"
* 그 외 "F"

In [ ]:
score=75
if score>=95:
  print("A+")
elif score>=90:
  print("A")
elif score>=85:
  print("B+")
elif score>=80:
  print("B")
elif score>=75:
  print("C+")
elif score>=70:
  print("C")
elif score>=65:
  print("D+")
elif score>=60:
  print("D")
else:
  print("F")

C+



---

## 2. 반복문(Repetitive Statement)
* 문장을 반복적으로 수행
* 정해진 동작을 반복하여 처리할 때 사용
* 파이썬에서 제공하는 반복문: while, for

### while 문

* 어떤 조건이 만족하는 동안 문장을 수행하고 만족하지 않는 경우 수행 중단
* while <조건>: <br>
     <문장>

* while 문 예제: 1부터 10까지 반복

In [ ]:
i=1
while i<=10:
  print(i).  ##무한반복 되어버림;;
  i += 1 ## "+="의 기능 참고

1
2
3
4
5
6
7
8
9
10

* while 문 예제: 1부터 10까지 더하기

In [ ]:
i=1
sum=0  ##출력식 적고, while
while i<=10:
  sum += i
  i += 1
print(sum)

55

* 참고

In [17]:
treeHit = 0
while treeHit < 10:
  treeHit = treeHit + 1
  print("나무를 %d번 찍었습니다." %treeHit)
  if treeHit == 10:
    print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

### for 문
* 반복 범위를 지정하여 반복 수정
* while과 비슷하나, for문은 문장구조가 한눈에 들어옴
* for 변수 in 리스트, 튜플, 문자열: <br>
   <문장>

* 리스트 요소 반복

In [ ]:
list=['one','two','three']
for i in list:
  print(i)

one
two
three

* 튜플 요소 반복

In [ ]:
tuple=['one','two','three']
for i in tuple:
  print(i)

one
two
three

* 문자열 요소 반복

In [ ]:
string = "Minsu"
for i in string:
  print(i)

M
i
n
s
u

#### range()
* 범위 반복에 사용
* for 변수 in range(시작값, 마지막값, 증가값): <br>
   <문장>
* 시작값과 증가값은 생략 가능
* 생략할 때 default value: 시작값은 0, 증가값은 1

In [ ]:
##ex1
sum=0
for i in range(10):
  sum += i

print(sum)

##ex2
sum=0
for i in range(11):
  sum += i

print(sum)

##ex3
sum=0
for i in range(101): ##range 마지막값은 더해야 할 마지막값 +1
  sum += i

print(sum)

45
55
5050

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

* 범위 반복 range를 이용한 구구단

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print('{0} x {1} = {2}'.format(i,j,i*j)) ##문자열 index 활용, return값은 format으로 지정

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#### _ 기능
* for문을 사용하면서 iterator 역할을 위해서 i 변수가 필요
* for문 이후에는 iterator 변수 i가 필요하지 않음
* 이후에 사용되지 않을 변수에 어떤 이름을 부여하고 싶지 않을 때 _사용

In [ ]:
for _ in range(5):
  print("minsu")

minsu
minsu
minsu
minsu
minsu

In [ ]:
for i in range(5):
  print("minsu")

minsu
minsu
minsu
minsu
minsu

* 참고

In [20]:
## 총 5명의 학생이 시험을 보았는데, 시험 점수가 60점 이상이면 합격, 그렇지 않으면 불합격이다. 합격/불합격 결과를 보여주시오.

marks=[90,25,67,45,80] ##시험점수 리스트
number=0  ##학생 번호
for mark in marks:
  number+=1
  if mark >=60 :
    print("%d번 학생은 합격입니다." % number)
  else:
    print("%d학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2학생은 불합격입니다.
3번 학생은 합격입니다.
4학생은 불합격입니다.
5번 학생은 합격입니다.

### else 문

* 반복이 종료된 후에 한번 더 실행되는 문장

In [ ]:
i = 1
sum=0
while i<=10:
  sum+=i
  i+=1
else:        ##그냥 이쁘게 정리하려고 쓰는 듯
 print(sum)

55

In [ ]:
sum=0
for i in range(11):
  sum+=i
else:
  print(sum)

55

### break 문

* 반복문 종료

In [ ]:
i=0
while i<100:
  print(i)
  if i ==10:  ##break 지점
    break
  i += 1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(100):
  print(i)
  if i == 10:
    break

0
1
2
3
4
5
6
7
8
9
10

### continue 문

* 반복 조건문으로 이동
* while문을 빠져나가지 않고, while문의 맨 처음(조건문)으로 다시 돌아가게 만들고 싶은 경우 사용

In [ ]:
i = 0
while i <10 :
  i+=1
  if i%2==0:  ##i를 2로 나눈 나머지가 0일때는 continue
    continue  ##조건문으로 다시 이동
  print(i)

1
3
5
7
9

In [ ]:
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

### 리스트 내포(List Comprehension)

* 리스트 안에 for 문과 if 문 사용

In [ ]:
list=[1,2,3,4,5]
print([i for i in list])
print([i*2 for i in list])
print([i*2 for i in range(10)]) ##range 는 0부터 시작
print([i*2 for i in range(10) if i%2==0])

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 4, 8, 12, 16]

### [Lab] 문자열 반전

* 문자열을 역순으로 만들기

In [ ]:
string="Minsu"
reverse=""
for c in string:
  reverse= c + reverse
print(string)
print(reverse)

##참고
string="minsu"
string.reverse()
print(string)  ## <--문자열 reverse 기능이 원래 없음

Minsu
usniM

AttributeError: 'str' object has no attribute 'reverse'



---

## 3. 에러와 예외(Errors and Exceptions)

* 프로그램에서는 에러가 발생
* 에러에 대한 예외 처리가 필요

|에러|설명|
|------|---|
|AssertionError|assert문이 실패할 때 발생|
|AttributeError|속성에 참조가 대입이 실패할 때 발생|
|EOFError|EOF(End of File) 조건을 만날 때 발생|
|ImportError|import문이 모듈 로드에 문제가 있을 때 발생|
|ModuleNotFoundError|import할 모듈을 찾을 수 없을 때 발생|
|IndexError|시퀀스 인덱스가 범위를 벗어날 때 발생|
|KeyError|딕셔너리 키가 키 집합에서 발견되지 않을 때 발생|
|KeyboardInterupt|사용자가 인터럽트 키(ctrl+c or delete)를 누를 때 발생|
|MemoryError|작업에 메모리가 부족하지만, 일부 객체를 삭제해서 복구될 수 있는 경우 발생|
|NameError|지역 또는 전역 이름을 찾을 수 없을 때 발생|
|NotImplementedError|RuntimeError에서 내용이 없는 메소드 호출 시 발생|
|OSError|운영체제에서 에러가 있을 경우 발생
|OverflowError|산술 연산의 결과가 너무 커서 표현할 수 없을 때 발생|
|RuntimeError|다른 범주에 속하지 않는 에러가 감지될 때 발생|
|SyntaxError|문법 오류가 발견될 때 발생|
|IndentationError|잘못된 들여쓰기와 관련된 문법 오류가 있을 때 발생|
|TabError|들여쓰기가 일관성 없이 탭과 스페이스를 사용하는 경우 발생|
|SystemError|인터프리터 내부에서 에러가 발견될 때 발생|
|SystemExit|sys.exit() 함수가 호출될 때 발생|
|TypeError|연산이나 함수가 부적절한 형의 객체에 적용될 때 발생|
|UnboundLocalError|함수나 메소드에서 지역 변수를 참조하지만, 해당 변수에 값이 연결되지 않으면 발생|
|UnicodeError|유니코드 관련 인코딩/디코딩 에러가 일어날 때 발생|
|ValueError|연산이나 함수가 올바른 자료형이지만 부적절한 겂을 가진 인자를 받았을 때 발생|
|ZeroDivisionError|0으로 다른 숫자를 나누는 경우에 발생|
|FileExistsError|이미 존재하는 파일이나 디렉토리를 만들려고 할 때 발생|
|InteruptedError|파일이나 디렉토리가 요청되었지만 존재하지 않을 때 발생|
|IsADirectoryError|디렉토리에 파일 연산이 요청되었을 때 발생|
|NotADirectoryError|디렉토리가 아닌 것에 디렉토리 연산이 요청되었을 때 발생|
|PermissionError|적절한 접근권 없이 연산을 실행하려고 할 때 발생|
|ProcessLockupError|주어진 프로세스가 존재하지 않을 때 발생|
|TimeoutError|시스템 함수가 시스템 수준에서 시간이 초과될 때 발생|
|Warning|오류는 아니고 주의가 필요한 경고 시 발생|

### 에러 예제

* ZeroDivisionError

In [ ]:
10/0

ZeroDivisionError: division by zero

* NameError

In [ ]:
noname+3 ##name 정의안했을 때

NameError: name 'noname' is not defined

* TypeError

In [ ]:
'1'+1 ##타입간의 충돌

TypeError: can only concatenate str (not "int") to str

* ValueError

In [ ]:
int("10")
int("string")

ValueError: invalid literal for int() with base 10: 'string'

### 예외 처리(Exception Handling)

#### try, except 문

* try 문을 통해 예외 발생 가능한 코드에 정의
* except 문을 이용해 예외 처리 방법을 정의

In [ ]:
try:
  print(2/0)
except:
  print("Error")

try:
  print(2/1)
except:
  print("Error")

Error
2.0

#### 에러 분류에 따른 except 문

* `ZeroDivisionError`에 대한 except 처리

In [ ]:
try:
  print(2/0)
except ZeroDivisionError:
  print("이 작업은 수행할 수 없습니다")

이 작업은 수행할 수 없습니다

#### 에러 메시지가 포함된 except 문

* `ZeroDivisionError`에 포함된 에러 메시지 `e`를 출력

In [ ]:
try:
  print(2/0)
except ZeroDivisionError as e:
  print(e)

division by zero

#### 여러 에러 분류가 포함된 except 문

In [ ]:
try:
  n=int(input("입력:"))
  result = 1/n
except ZeroDivisionError as e:
  print(e)
except ValueError as e:
  print(e)
else:
  print("결과"+str(result))

입력:1
결과1.0

### 에러 발생

#### raise 문

* 직접적으로 에러를 발생시킬 수 있음
* 에러의 종류와 에러 상황을 정의하고 발생

In [ ]:
raise ZeroDivisionError("숫자를 0으로 나눔")

ZeroDivisionError: 숫자를 0으로 나눔

In [ ]:
raise NameError("지역 또는 전역 이름을 찾을 수 없음")

NameError: 지역 또는 전역 이름을 찾을 수 없음

In [ ]:
raise TypeError("연산이나 함수가 부적절한 형의 객체에 적용")

TypeError: 연산이나 함수가 부적절한 형의 객체에 적용

In [ ]:
raise ValueError("연산이나 함수가 부적절한 값을 인자로 받음")

ValueError: 연산이나 함수가 부적절한 값을 인자로 받음

#### assert 문

* raise 문과 달리 주로 **"검증"**을 위한 목적으로 작성
* 상태를 검증하는 목적으로 작성되며 검증식이 포함됨
* 검증식이 `False`일 경우 `AssertionErro` 발생

In [ ]:
assert True

In [ ]:
assert False

AssertionError:

In [ ]:
assert False, "에러 메시지"

AssertionError: 에러 메시지

In [ ]:
b=0
assert b !=0, "잘못된 접근입니다"

AssertionError: 잘못된 접근입니다